@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 390px;
  margin: 0 auto;
  height: 100vh;
  font-weight: normal;
  background: var(--color-background);
}

h1 {
  font-size: var(--text-xl);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.74); /* Tailwind CSS 的 gray-500 */
}

/* form validate */
.error-text {
  color: var(--color-error);
}

.btn {
  text-decoration-line: none;
}

.btn-link {
  padding-inline: 0;
}