@import './base.css';

#app {
  position: relative;
  max-width: 390px;
  margin: 0 auto;
  height: 100vh;
  font-weight: normal;
  background: var(--color-background);
}

h1 {
  font-size: var(--text-xl);
}

.btn {
  text-decoration-line: none;
}

.btn-link {
  padding-inline: 0;
}